<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.eric.oscar">

    <!-- 访问网络的权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 访问网络状态的权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 访问WIFI网络状态的权限 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 改变WIFI网络状态的权限 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:name=".common.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.OMainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.OLoginActivity"
            android:label="@string/title_activity_ologin" />
        <activity
            android:name=".activity.ORegistActivity"
            android:label="@string/title_activity_oregist"
            android:parentActivityName=".common.BaseActivity" />
        <activity
            android:name=".activity.OModifyLoginPwdActivity"
            android:label="@string/title_activity_omodify_login_pwd" />
        <activity
            android:name=".activity.OSetPayPwdActivity"
            android:label="@string/title_activity_oset_pay_pwd" />
        <activity
            android:name=".activity.OResetPwdActivity"
            android:label="@string/title_activity_oreset_pwd" />
        <activity
            android:name=".activity.OChangePhoneActivity"
            android:label="@string/title_activity_ochange_phone" />
        <activity
            android:name=".activity.OPhoneCaptchaActivity"
            android:label="@string/title_activity_ochange_phone" />
        <activity
            android:name=".activity.OAccountActivity"
            android:label="@string/title_activity_oaccount" />
        <activity
            android:name=".activity.OFundsRecordActivity"
            android:label="@string/title_activity_ofunds_record" />
        <activity
            android:name=".activity.OAuthenticationActivity"
            android:label="@string/title_activity_oauthentication" />
        <activity
            android:name=".activity.OSelfOscarActivity"
            android:label="@string/title_activity_oself_oscar" />
        <activity
            android:name=".activity.OHelpActivity"
            android:label="@string/title_activity_ohelp" />
        <activity
            android:name=".activity.OBindOscarActivity"
            android:label="@string/title_activity_obind_oscar" />
        <activity
            android:name=".activity.OBindValidActivity"
            android:label="@string/title_activity_obind_valid" />
        <activity
            android:name=".activity.OOscarBalanceActivity"
            android:label="@string/title_activity_ooscar_balance" />
        <activity
            android:name=".activity.OMerchantListActivity"
            android:label="@string/title_activity_omerchant_list" />
        <activity
            android:name=".activity.OMerchantDetailActivity"
            android:label="@string/title_activity_omerchant_detail" />
        <activity
            android:name=".activity.OTransCardsActivity"
            android:label="@string/title_activity_otrans_cards" />
        <activity
            android:name=".activity.OTransListActivity"
            android:label="@string/title_activity_otrans_list" />
        <activity
            android:name=".activity.OTransConfirmActivity"
            android:label="@string/title_activity_otrans_list" />
        <activity
            android:name=".activity.OBankListActivity"
            android:label="@string/title_activity_obank_list" />
        <activity
            android:name=".activity.OFindLoginPwdActivity"
            android:label="@string/title_activity_ofind_login_pwd" />
        <activity
            android:name=".activity.OAddBankActivity"
            android:label="@string/title_activity_oadd_bank" />
        <activity
            android:name=".activity.OBindBankActivity"
            android:label="@string/title_activity_obind_bank" />
        <activity
            android:name=".activity.ORechargeRecordActivity"
            android:label="@string/title_activity_orecharge_record" />
        <activity
            android:name=".activity.OWithdrawRecordActivity"
            android:label="@string/title_activity_owithdrawn_record" />
        <activity
            android:name=".activity.OFrozenRecordActivity"
            android:label="@string/title_activity_ofrozen_record" />
        <activity
            android:name=".activity.OTransFuelCardActivity"
            android:label="@string/title_activity_otrans_fuel_card" />
        <activity
            android:name=".activity.OSelectPicActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DialogStyleBottom" />
        <activity
            android:name=".activity.OTransToTransActivity"
            android:label="@string/title_activity_otrans_to_trans" />
        <activity
            android:name=".activity.OBillSearchActivity"
            android:label="@string/title_activity_obill_search" />
        <activity
            android:name=".activity.OOscarRechageActivity"
            android:label="@string/title_activity_ooscar_recharge" />
        <activity
            android:name=".activity.OInvestActivity"
            android:label="@string/title_activity_oinvest" />
        <activity
            android:name=".activity.OInvestListActivity"
            android:label="@string/title_activity_oinvest_list" />
        <activity
            android:name=".activity.OInvProvDetailActivity"
            android:label="@string/title_activity_oinv_prov_detail" />
        <activity
            android:name=".activity.OInvProvSelectActivity"
            android:label="@string/title_activity_oinv_prov_select" />
        <activity
            android:name=".activity.OInvestConfirmActivity"
            android:label="@string/title_activity_oinv_prov_select" />
        <activity
            android:name=".activity.OPhoneRechargeActivity"
            android:label="@string/title_activity_ophone_recharge" />
        <activity
            android:name=".activity.ORechargeConfirmActivity"
            android:label="@string/title_activity_orecharge_confirm" />
        <activity
            android:name=".activity.OTransFuleConfirmActivity"
            android:label="@string/title_activity_otrans_fuel_card_confirm" />
        <activity
            android:name=".activity.OTelRechargeActivity"
            android:label="@string/title_activity_otel_recharge" />
        <activity
            android:name=".activity.OInvestPropActivity"
            android:label="@string/title_activity_oinvest_prop" />
        <activity
            android:name=".activity.OTransToTransConfirmActivity"
            android:label="@string/title_activity_otrans_to_trans_confirm" />
        <activity
            android:name=".activity.OWalletRechargeActivity"
            android:label="@string/title_activity_owallet_recharge" />
        <activity
            android:name=".activity.OWalletRechargeConfirmActivity"
            android:label="@string/title_activity_owallet_recharge" />
        <activity
            android:name=".activity.OWithdrawActivity"
            android:label="@string/title_activity_owithdraw" />
        <activity
            android:name=".activity.OBillListActivity"
            android:label="@string/title_activity_obill_list" />
        <activity
            android:name=".activity.OSaleCardActivity"
            android:label="@string/title_activity_osale_card" />
        <activity
            android:name=".activity.OMessageActivity"
            android:label="@string/title_activity_omessage"></activity>
        <activity
            android:name=".activity.OMsgDetailActivity"
            android:label="@string/title_activity_omessage">
            
        </activity>
    </application>

</manifest>
